
      
      body {
        font-family: 'Indie Flower', cursive;
        font-size:95%;
        background: white;
        color: black;
      }
      .content {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
      }
      .title {
          font-family: 'Indie Flower', cursive;
          text-align: center;
          display: block;
          border: solid 1px lightblue;
          border-radius: 30px;
      }
       img {
           display: block;
           width: 150px;
           height: 150px;
           margin-left: auto;
           margin-right: auto;
       }   
      .cards {
          font-size: 90%;
          background-color:rgb(250, 248, 244);
          box-shadow: 8px 8px black;
          font-family: Arial, Helvetica, sans-serif; 
          border: solid black 5px;
          border-radius: 30px;
          padding: 0px 0px;
          margin-left: 150px;
          margin-top: 100px;
          height: 550px;
          width: 240px;
      }
            
      .available {
          background-color: grey;
          color: yellow;
          width: 240px;
      }
      footer {
          font-size: 70%;
      }